###  Dictionary

Create Dictionary for following information as "person1":
   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [13]:
# CODE HERE
person1={'Name': 'Srikanth','Gender': 'Male','Occupation': 'Data Scientist','Location': 'Nizampet,Hyderabad'}
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet,Hyderabad'}

In [14]:
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet,Hyderabad'}

> print keys in person1 as a list

In [12]:
# CODE HERE
print(person1.keys())

dict_keys(['Name', 'Gender', 'Occupation', 'Location'])

In [3]:
#  CODE HERE

['Name', 'Gender', 'Occupation', 'Location']

> Srikanth age is 27. Assign his age in person1 as key "Age"

In [11]:
# CODE HERE
person1['Age']=27
person1

NameError: name 'person1' is not defined

In [10]:
person1

NameError: name 'person1' is not defined

> Remove Location in person1

In [17]:
# CODE HERE
person1.pop('Location')
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Age': 27}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> Create dictionary of person2 with
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [5]:
# CODE HERE
person2={'Age': 25,'Gender': 'Male','Name': 'Raghu Ram','Occupation': 'Data Scientist'}
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

In [6]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> Append values on Person1 and Person2

In [7]:
dir(person2)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [9]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 27}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [1]:
# CODE HERE to append

# create a dictionary
#### remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [20]:
# CODE HERE
dic = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
dic

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [22]:
dic.pop(1)
dic

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [25]:
dic.popitem()
dic

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
### print the values from the above dictionary in descending order

In [57]:
dic1= {3: 9, 1: 1, 0: 0, 5: 25, 7: 49, 9: 81}

In [58]:
dic1

{3: 9, 1: 1, 0: 0, 5: 25, 7: 49, 9: 81}

In [59]:
sorted(dic1.items(), key = lambda kv:(kv[0], kv[1]))

[(0, 0), (1, 1), (3, 9), (5, 25), (7, 49), (9, 81)]

In [60]:
sorted(dic1.items(), key = lambda kv:(kv[1], kv[0]),reverse=True)

[(9, 81), (7, 49), (5, 25), (3, 9), (1, 1), (0, 0)]

database = {'ram':1234,'raghu':5678,'kanav':1357}
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [6]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
u = str(input("Username:"))
v = int(input("Password:"))
for i in database:
    if u==i and v==database[i]:
        print("Hello ",u)

Username:hareg
Password:7982

In [1]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
u = str(input("Username:"))
v = int(input("Password:"))
for i in database:
    if u==i and v==database[i]:
        print("Hello ",u)
else:
    print("you want me to add into the database")
    database[str(u)]=v

Username:reham
Password:9876
you want me to add into the database

In [2]:
print(database)

{'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'reham ': 9876}

In [ ]:
# CODE HERE

### merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [18]:
# CODE HERE
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
d=dict1.copy()
d.update(dict2)
print(d)
d.update(dict3)
print("Output=",d)

{'a': 1, 'b': 3, 'c': 4}
Output= {'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [20]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

Output=
{'a':1,'b':3,'c':5,'d':6}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)